<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Notícias</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Notícias</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Notícias</h3>

      <div class="card-tools">
        <%= link_to 'Cadastrar', new_admins_backoffice_news_path, class: 'btn btn-outline-success' %>
      </div>
    </div>
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @news.each do |new| %>
          <tr>
            <td><%= new.id %></td>
            <td><%= new.title %></td>
            <td>
              <%= link_to edit_admins_backoffice_news_path(new.id), class: 'btn btn-outline-primary' do %>
                <i class="fas fa-edit"></i> Editar
              <% end %>
              <%= link_to admins_backoffice_news_path(new), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-outline-danger' do %>
                <i class="fas fa-trash"></i> Excluir
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</section>
