<div class="w3-card w3-round w3-white">
  <div class="card-header">
    <%= link_to users_backoffice_videos_path, class: 'btn btn-outline-default' do %>
      <i class="fas fa-chevron-left"></i> <%= t('back') %>
    <% end %>
  </div>
  <div class="card-body table-responsive p-0">
    <div class="scroll">
      <div class="container text-center" style="padding: 20px 50px;">
        <p style="text-align: center; font-weight: bold"><%= @video.title %></p>

        <iframe width="580" height="315" src="<%= @video.url %>" frameborder="0" allow="accelerometer;
                autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <p style="text-align: justify"><%= @video.description %></p>
        <p style="font-weight: bold; text-align: left"><%= "~#{@video.duration} minutos" %></p>
      </div>

      <div style="padding: 0 50px;">
        <% tags = "" %>
        <% @video.tag_videos.each do |tag_video| %>
          <% tags += " #{tag_video.tag.name}, " %>
        <% end %>

        <% if tags.present? %>
          <p><b>TAGS:</b><%= " #{tags[0...-2]}" %></p>
        <% end %>
      </div>

      <%= render 'users_backoffice/shared/rating', rating: @rating %>
      <%= render 'users_backoffice/shared/comments', comments: @comments %>

    </div>
  </div>
</div>